/* Estilos generales */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #1f1f1f;
  cursor: url("./Imagenes/D20Mouse.svg"), auto;
  font-family: "Jacques Francois", serif;
  font-size: large;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #1f1f1f;
  padding: 10px 20px;
  color: #e54341;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.header-title {
  display: inline-block;
  vertical-align: middle;
  color: #e54341;
  margin-left: 10px;
  font-size: 2em;
  line-height: 50px;
}

.logo-container {
  float: left;
  display: inline-block;
  vertical-align: middle;
}

.logo-container a {
  text-decoration: none;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  height: auto;
}

.mode {
  float: right;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-right: 20px;
}

.user {
  float: right;
  padding-top: 20px;
  padding-bottom: 15px;
}

.logoclase {
  width: 100px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.75));
}

h1 {
  font-family: "Jacques Francois", serif;
  font-size: 3em;
  margin: 0;
  color: #1f1f1f;
}

h2 {
  font-family: "Jacques Francois", serif;
  font-size: 2.5em;
  margin: 0;
  color: #1f1f1f;
}

h3 {
  font-family: "Jacques Francois", serif;
  font-size: 1.75em;
  margin: 0;
  color: #e54341;
  filter: brightness(0.3);
}

h4 {
  font-family: "Jacques Francois", serif;
  font-size: 1.25em;
  margin: 0;
  color: #e54341;
}

.class-logo-container {
  white-space: nowrap;
}

.class-logo-container img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.class-logo-container h2 {
  display: inline-block;
  vertical-align: middle;
}

a {
  color: #e54341;
}

p {

  color: #1f1f1f;
}

body.light-mode p {

  color: #ffffff;
}

body.light-mode h1 {
  font-family: "Jacques Francois", serif;
  font-size: 3em;
  margin: 0;
  color: #ffffff;
}

body.light-mode h2 {
  font-family: "Jacques Francois", serif;
  font-size: 2.5em;
  margin: 0;
  color: #ffffff;
}

body.light-mode h3 {
  font-family: "Jacques Francois", serif;
  font-size: 1.75em;
  margin: 0;
  color: #d4ba83;
  filter: brightness(0.6);
}

body.light-mode h4 {
  font-family: "Jacques Francois", serif;
  font-size: 1.25em;
  margin: 0;
  color: #ffffff;

}

body.light-mode a {
  color: #e54341;
}

body.light-mode p {

  color: #ffffff;
}

table legend {
  color: #ffffff;
}

table {
  border-collapse: separate;
  border-spacing: 0.25px;
  margin: 1.5% auto;
}

.caracteristicasClase {
  margin: 1.5% auto;
}

.rasgosBasicos {


  display: inline-block;
}

th,
td {
  padding: 20px;
}

ul li {
  color: #1f1f1f;
}

ul li::marker {
  color: #e54341;
}

body.light-mode ul li {
  color: #ffffff;
}

body.light-mode ul li::marker {
  color: #ffffff;
}

.index-section {
  background-color: #e54341;
  padding: 40px;
  margin: 10px auto;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
  width: 90%;
}

.class-section {
  background-color: #e54341;
  padding: 40px;
  margin: 10px auto;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
  width: 90%;
  display: inline-block;
  text-align: left;
}

.class-section>* {
  float: left;
  clear: both;
}

table {
  border-collapse: separate;
  border-spacing: 0.25px;
}

th,
td {
  padding: 20px;
}

[id^="fila"] {
  border: 2px solid;
}

#filaBarbaro {
  background-color: #d08f75;
  border-color: #b07a56;
  color: #ffffff;
}

#filaBardo {
  background-color: #d69fd5;
  border-color: #a97b9f;
  color: #1f1f1f;
}

#filaBrujo {
  background-color: #f2a3e4;
  border-color: #e08ac4;
  color: #1f1f1f;
}

#filaClerigo {
  background-color: #a7b8d9;
  border-color: #7f98c1;
  color: #1f1f1f;
}

#filaDruida {
  background-color: #a3c370;
  border-color: #8ca92a;
  color: #1f1f1f;
}

#filaExplorador {
  background-color: #6dbf56;
  border-color: #4c8e3b;
  color: #1f1f1f;
}

#filaGeneral {
  background-color: #1f1f1f;
  border-color: #131313;
  color: #fafafa;
}

#filaGuerrero {
  background-color: #d68944;
  border-color: #b56a1a;
  color: #1f1f1f;
}

#filaHechicero {
  background-color: #c78f5a;
  border-color: #8e4e1a;
  color: #1f1f1f;
}

#filaMago {
  background-color: #5f94b6;
  border-color: #21649a;
  color: #1f1f1f;
}

#filaMonje {
  background-color: #3d7c96;
  border-color: #2a4e63;
  color: #1f1f1f;
}

#filaPaladin {
  background-color: #d3b36a;
  border-color: #9e7e37;
  color: #1f1f1f;
}

#filaPicaro {
  background-color: #7b8a97;
  border-color: #4c555c;
  color: #ffffff;
}

body.light-mode #filaBarbaro {
  background-color: #ea735b;
  border-color: #d35c43;
  color: #1f1f1f;
}

body.light-mode #filaBardo {
  background-color: #e5a9e8;
  border-color: #c484c7;
  color: #1f1f1f;
}

body.light-mode #filaBrujo {
  background-color: #fe84f1;
  border-color: #e87bdc;
  color: #1f1f1f;
}

body.light-mode #filaClerigo {
  background-color: #9ebedf;
  border-color: #699acd;
  color: #1f1f1f;
}

body.light-mode #filaDruida {
  background-color: #bddb63;
  border-color: #a3ca30;
  color: #1f1f1f;
}

body.light-mode #filaExplorador {
  background-color: #84da71;
  border-color: #58ad45;
  color: #1f1f1f;
}

body.light-mode #filaGeneral {
  background-color: #fafafa;
  border-color: #c5c5c5;
  color: #1f1f1f;
}

body.light-mode #filaGuerrero {
  background-color: #f4a058;
  border-color: #cf7221;
  color: #1f1f1f;
}

body.light-mode #filaHechicero {
  background-color: #e1a16d;
  border-color: #b46322;
  color: #1f1f1f;
}

body.light-mode #filaMago {
  background-color: #77b2e3;
  border-color: #287fc7;
  color: #1f1f1f;
}

body.light-mode #filaMonje {
  background-color: #4f91b5;
  border-color: #325f78;
  color: #1f1f1f;
}

body.light-mode #filaPaladin {
  background-color: #f0c97b;
  border-color: #cb9747;
  color: #1f1f1f;
}

body.light-mode #filaPicaro {
  background-color: #8d9fac;
  border-color: #606a73;
  color: #1f1f1f;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 1600px;
  margin: 10px auto;
  display: inline-block;
}

.image-container {
  display: inline-block;
  width: auto;
  text-align: center;
  vertical-align: top;
}

.historia {
  width: 55%;
  display: inline-block;
}

.imagenClase {
  width: fit-content;
  height: auto;
  text-align: center;
  box-sizing: border-box;
  float: right;
  clear: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 1));
}

.imagenClase img {
  width:85%;
  height: auto;
}



.index-section .container img {
  width: 300px;
  height: 450px;
  object-fit: contain;
  transition: transform 0.8s ease-in-out, clip-path 0.8s ease-in-out;
  margin-bottom: 7.25px;
  margin-top: 7.25px;
  display: inline-block;
  filter: drop-shadow(4px 10px rgba(0, 0, 0, 0.6));
}

.index-section img:hover {
  clip-path: inset(0);
  transform: scale(1.25);
  filter: drop-shadow(4px 10px rgba(0, 0, 0, 0.4));
}

body.light-mode .index-section .container img {
  width: 300px;
  height: 450px;
  object-fit: contain;
  transition: transform 0.8s ease-in-out, clip-path 0.8s ease-in-out;
  margin-bottom: 7.25px;
  margin-top: 7.25px;
  display: inline-block;
  filter: drop-shadow(4px 10px rgba(0, 0, 0, 0.6));
}

body.light-mode .index-section img:hover {
  clip-path: inset(0);
  transform: scale(1.25);
  filter: drop-shadow(4px 10px rgba(0, 0, 0, 0.4));
}

.footer {
  text-align: center;
  background-color: #1f1f1f;
  padding: 10px 20px;
  color: #e54341;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilos para los formularios */
#login-container,
#register-container {
  background-color: #e54341;
  /* Color por defecto en modo oscuro */
  padding: 40px;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
  width: 60%;
  text-align: center;
}

form {
  display: inline-block;
  width: 100%;
  max-width: 500px;
}

form h2 {
  font-size: 2.5em;
  color: #1f1f1f;
  margin-bottom: 20px;
}

form label {
  font-size: 1.2em;
  color: #1f1f1f;
  display: block;
  margin-bottom: 10px;
}

form input {
  font-size: 1.2em;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #1f1f1f;
  color: #ffffff;
}

form button {
  font-size: 1.5em;
  padding: 10px 20px;
  background-color: #e54341;
  color: #1f1f1f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Jacques Francois", serif;
}

form button:hover {
  background-color: #1f1f1f;
  color: #e54341;
}

.mode>#mode-icon {
  font-variation-settings: "FILL" 0, "wght" 250, "GRAD" 200, "opsz" 24;
  width: auto;
  height: auto;
  cursor: pointer;
  font-size: 40px;
}

.user #user-icon {
  font-variation-settings: "FILL" 0, "wght" 250, "GRAD" 200, "opsz" 24;
  width: auto;
  height: auto;
  cursor: pointer;
  font-size: 40px;
}

form p {
  color: #1f1f1f;
}

form a {
  filter: brightness(0.5);
  color: #e54341;
}

form a:hover {
  filter: brightness(1);
  color: #ffffff;
}

/* Estilos para el modo claro */
body.light-mode {
  background-color: #f8f8f8;
  color: #1f1f1f;
}

body.light-mode .header,
body.light-mode .footer {
  background-color: #f8f8f8;
  color: #d4ba83;
}

body.light-mode .header-title {
  color: #d4ba83;
}

body.light-mode form input {
  font-size: 1.2em;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #1f1f1f;
}

body.light-mode form button {
  background-color: #d4ba83;
  color: #fff;
}

body.light-mode form button:hover {
  background-color: #fff;
  color: #d4ba83;
}

body.light-mode form p {
  color: #ffffff;
}

body.light-mode form a {
  filter: brightness(0.6);
  color: #d4ba83;
}

body.light-mode form a:hover {
  filter: brightness(1);
  color: #ffffff;
}

body.light-mode .index-section {
  background-color: #d4ba83;
  /* Color de fondo en modo claro para la sección del index */
  color: #1f1f1f;
}

body.light-mode .class-section {
  background-color: #d4ba83;
  /* Color de fondo en modo claro para la sección del index */
  color: #1f1f1f;
}

body.light-mode form h2 {
  font-size: 2.5em;
  color: #ffffff;
  margin-bottom: 20px;
}

body.light-mode form label {
  font-size: 1.2em;
  color: #ffffff;
  display: block;
  margin-bottom: 10px;
}

body.light-mode a {
  color: #d4ba83;
}

/* Establecer color de fondo de los formularios en modo claro */
body.light-mode #login-container,
body.light-mode #register-container {
  background-color: #d4ba83;
  /* Color de fondo en modo claro */
  color: #1f1f1f;
}

body.light-mode .container img {
  filter: drop-shadow(4px 10px rgba(0, 0, 0, 0.4));
}

/* Nuevo estilo para el hover del botón en modo claro */
form.light-mode button:hover {
  background-color: #fff;
  /* Color de fondo blanco */
  color: #d4ba83;
  /* Color del texto */
}

/* Estilos predeterminados (modo oscuro) */
body {
  background-color: #1f1f1f;
  color: #e54341;
  transition: background-color 0.3s, color 0.3s;
}

/* Colores del SVG en modo oscuro */
#mode-icon {
  stroke: #e54341;
  transition: stroke 0.3s;
}

/* Colores del SVG en modo claro */
body.light-mode #mode-icon {
  stroke: #d4ba83;
}

/* Colores del SVG del usuario en modo oscuro */
#user-icon svg {
  stroke: #e54341;
  transition: stroke 0.3s;
}

/* Colores del SVG del usuario en modo claro */
body.light-mode #user-icon svg {
  stroke: #d4ba83;
}

body.light-mode a {
  color: #d4ba83;
}

/* Cambio de logo y cursor en modo claro */
body.light-mode a .logo {
  content: url("./Imagenes/D20Claro.svg");
}

body.light-mode {
  cursor: url("./Imagenes/D20MouseClaro.svg"), auto;
}

body.light-mode div #barbaro {
  content: url("./Imagenes/LogoBárbaro.png");
}

body.light-mode div #bardo {
  content: url("./Imagenes/LogoBardo.png");
}

body.light-mode div #brujo {
  content: url("./Imagenes/LogoBrujo.png");
}

body.light-mode div #clerigo {
  content: url("./Imagenes/LogoClerigo.png");
}

body.light-mode div #druida {
  content: url("./Imagenes/LogoDruida.png");
}

body.light-mode div #explorador {
  content: url("./Imagenes/LogoExplorador.png");
}

body.light-mode div #guerrero {
  content: url("./Imagenes/LogoGuerrero.png");
}

body.light-mode div #hechicero {
  content: url("./Imagenes/LogoHechicero.png");
}

body.light-mode div #mago {
  content: url("./Imagenes/LogoMago.png");
}

body.light-mode div #monje {
  content: url("./Imagenes/LogoMonje.png");
}

body.light-mode div #paladin {
  content: url("./Imagenes/LogoPaladín.png");
}

body.light-mode div #picaro {
  content: url("./Imagenes/LogoPícaro.png");
}