body {
  text-align: center;
}

.index-section .content-wrapper {
  display: inline-block;
  max-width: 100%;
  box-sizing: border-box;
}

.class-logo-index {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-48.5%, 370%);
  white-space: nowrap;
  background-color: #d4ba8367;
  border-radius: 50px;
  padding-right: 5%;
  visibility: hidden;
}

.anchor-class:hover .class-logo-index {
  visibility: visible;
  transition: transform 0.8s ease-in-out, clip-path 0.8s ease-in-out;
  transform: translate(-48.5%, 415%) scale(1.25);
}

.class-logo-index img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.class-logo-index h2 {
  display: inline-block;
  vertical-align: middle;
}

.logoclase {
  width: 100px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.75));
}

h2 {
  font-family: "Jacques Francois", serif;
  font-size: 2.5em;
  margin: 0;
  color: #ffffff;
}

.anchor-class {
  position: relative;
  text-decoration: none;
}

.anchor-class div img {
  transition: transform 0.8s ease-in-out, clip-path 0.8s ease-in-out;
}

.index-section img:hover {
  clip-path: inset(0);
  transform: scale(1.25);
  filter: drop-shadow(4px 10px rgba(0, 0, 0, 0.4));
}

.anchor-class div .imagenClase {
  filter: drop-shadow(4px 10px rgba(0, 0, 0, 0.6));
  width: 75%;
}
